@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-green: #0d2123;
    --light-green: #264346;
    --green: #123033;
    --light-pink: #f8cfa9;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

@layer utilities {
    .btn {
        @apply bg-darkGreen px-4 py-2 rounded-full my-2;
    }
}
